imports:
    - { resource: "services/twig.yml" }

services:
    # Used to gets aplication paths.
    app_path:
        class: vSymfo\Core\ApplicationPaths
        calls:
            - [setContainer, ["@service_container"]]

    # Theme groups listener
    vsymfo_core.event.listener.themegroup:
        class: vSymfo\Bundle\CoreBundle\EventListener\ThemeGroupListener
        arguments: ["@liip_theme.active_theme", "@router"]
        calls:
            - [setContainer, ["@service_container"]]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 2 }

    # Custom error pages.
    vsymfo_core.event.listener.exception:
        class:  vSymfo\Bundle\CoreBundle\EventListener\ExceptionListener
        arguments:
            - "@security.access_map"
            - "@liip_theme.active_theme"
            - "%vsymfo_core.theme_backend%"
        calls:
            - [setContainer, ["@service_container"]]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }

    vsymfo_core.webui_service:
        class: vSymfo\Bundle\CoreBundle\Service\WebuiService
        arguments:
            - "%vsymfo_core.document%"
            - "@app_path"
            - "@liip_theme.active_theme"
            - "@request_stack"
            - "%kernel.environment%"

    vsymfo_core.rest_form_service:
        class: vSymfo\Bundle\CoreBundle\Service\RESTFormService
        arguments: ["@twig"]
